<form class="form-horizontal m-4 p-4" (ngSubmit)="onSubmit()" [formGroup]="formulario" autocomplete="off">
  <div class="jumbotron jumbotron-fluid p-5">

    <!-- Nome -->
    <div class="mt-3 form-group">
      <div class="col-sm-12">
        <label for="name">Name</label>
      </div>
      <div class="col-sm-12">
        <input
          [ngClass]="aplicaCssErro('name')"
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          required
        />
        <app-form-error-message [mostrarErro]="verificaValidTouched('name')" msgErro="Nome é Obrigatório"></app-form-error-message>
      </div>
    </div>

    <!-- Email -->
      <div class="form-group mt-3">
        <div class="col-sm-12">
          <label for="email">Email</label>
        </div>
        <div class="col-sm-12">
          <input
            class="form-control"
            [ngClass]="aplicaCssErro('email')"
            type="text"
            id="email"
            formControlName="email"
            required
          />
        <app-form-error-message [mostrarErro]="verificaValidTouched('email')" msgErro="Email é Obrigatório"></app-form-error-message>
        <app-form-error-message [mostrarErro]="verificaEmailValido('email')" msgErro="Email Invalido"></app-form-error-message>
        </div>


      </div>

    <!-- Endereço -->
      <div class="col-sm-12" formGroupName="endereco">

        <div class="form-row" >

          <div class="form-group col-md-3">
            <label for="cep" class="control-label">CEP</label>
            <input
              type="text"
              class="form-control"
              id="cep"
              formControlName="cep"
              (blur) = "consultaCep($event.target.value)"
              required
            />
          </div>

          <div class="form-group col-md-3">
              <label for="numero" class="control-label">Numero</label>
              <input
                type="text"
                class="form-control"
                id="numero"
                formControlName="numero"
                required
              />
              <app-form-error-message [mostrarErro]="verificaValidTouched('endereco.numero')" msgErro="Numero é Obrigatório"></app-form-error-message>
          </div>

          <div class="form-group col-md-6">
            <label for="complemento" class="control-label">Complemento</label>
            <input
              type="text"
              class="form-control"
              id="complemento"
              formControlName="complemento"
            />
          </div>


      </div> <!-- Final da Primeira Row-->

      <!-- Row da Rua -->
      <div class="form-group">
          <label for="rua" class="control-label">Rua</label>
          <input
            type="text"
            class="form-control"
            id="rua"
            formControlName="rua"
          />
          <app-form-error-message [mostrarErro]="verificaValidTouched('endereco.rua')" msgErro="Rua é Obrigatório"></app-form-error-message>
        </div>

        <!-- Segunda row de endereço -->
        <div class="form-row">
          <div class="form-group col-md-7">
            <label for="bairro" class="control-label">Bairro</label>
            <input
              type="text"
              class="form-control"
              id="bairro"
              formControlName="bairro"
            />
            <app-form-error-message [mostrarErro]="verificaValidTouched('endereco.bairro')" msgErro="Bairro é Obrigatório"></app-form-error-message>
          </div>

          <div class="form-group col-md-2">
            <label class="control-label" for="estado">Estado</label>
            <select formControlName="estado" class="form-control" id="estado" >
              <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{estado.nome}}</option>
            </select>
            <app-form-error-message [mostrarErro]="verificaValidTouched('endereco.estado')" msgErro="Estado é Obrigatório"></app-form-error-message>
          </div>

          <div class="form-group col-md-3">
              <label for="cidade" class="control-label">Cidade</label>
              <input
                type="text"
                class="form-control"
                id="cidade"
                formControlName="cidade"
              />
              <app-form-error-message [mostrarErro]="verificaValidTouched('endereco.cidade')" msgErro="Cidade é Obrigatório"></app-form-error-message>
            </div>

        </div> <!-- Final da Segunda Row-->

      </div> 

      <!-- Cargo Tecnologia e Newsletter -->
      <div class="form-row">
        <div class="form-group col-sm-4">
          <label class="control-label" for="cargo">Cargo</label>
          <select formControlName="cargo" class="form-control" id="cargo" >
            <option [id]="cargo.sigla" *ngFor="let cargo of cargos" [ngValue]="cargo">{{cargo.desc}}</option>
          </select>
        </div>

        <div class="form-group col-sm-4">
          <label class="control-label" for="tecnologia">Tecnologia</label>
          <select multiple formControlName="tecnologia" class="form-control" id="tecnologia" >
            <option [id]="tecnologia.sigla" *ngFor="let tecnologia of tecnologias" [value]="tecnologia.desc">{{tecnologia.nome}}</option>
          </select>
        </div>

        <div class="form-group col-sm-4">
            <label class="control-label" for="newsletter">Newsletter</label>
            <div id="newsletter" class="row">
              <div class="col-sm-4" *ngFor="let option of newsletterOp">
                <label class="radio-inline" >
                  <input id="newsletter" name="newsletter" type="radio" [value]="option.valor" fromControlName="newsletter"/> {{ option.desc }}
                </label>
              </div>
            </div>
          </div>
      </div>

      <!-- Termos e Serviços / Frameworks -->
    <div class="form-row">
      <div class="form-group">
        <div class="col-md-6">
          <div class="checkbox " [ngClass]="aplicaCssErro('termos')">
            <label for="checkbox-inline">
              <input class="checkbox-inline" type="checkbox" formControlName="termos"> Aceito os termos
            </label>
            <app-form-error-message [mostrarErro]="verificaValidTouched('termos')" msgErro="Você precisa aceitar os termos"></app-form-error-message>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6">
          <div class="checkbox" [ngClass]="aplicaCssErro('frameworks')">
            <div class="checkbox col-sm-3" *ngFor="let framwork of frameworks" id="framweworks">
              <label for="frameworks"> Frameworks
                <input class="frameworks" type="checkbox" formControlName="frameworks"/>
              </label>    
            </div>  
          </div>
        </div>
      </div>
    </div>

      <!-- Botões -->
      <div class="col-sm-6 mt-3">
        <button type="submit" class="btn btn-primary">
          Send
        </button>

        <button (click)="resetarForm()"class="btn btn-alert ml-4">
          Reset
        </button>
        
        <button (click)="setaCargo()"class="btn btn-info ml-4">
          Cargo
        </button>

        <button (click)="setTecnologias()"class="btn btn-dark ml-4">
          Tecnologias
        </button>
      </div>

    </div> 

</form>

<app-form-debug [form]="formulario"></app-form-debug>
