<form class="form-horizontal m-4 p-4" (ngSubmit)="onSubmit()" [formGroup]="formulario" autocomplete="noTks">
  <div class="jumbotron jumbotron-fluid p-5">

    <!-- Nome -->
    <app-input-field id="name" label="Nome" [control]="formulario.get('name')" formControlName='name'></app-input-field>

    <!-- Email -->
    <app-input-field id="email" label="Email" [control]="formulario.get('email')" formControlName='email'></app-input-field>
    <!-- Confirmar Email -->
    <app-input-field id="confirmarEmail" label="Confirmar Email" [control]="formulario.get('confirmarEmail')" formControlName='confirmarEmail'></app-input-field>

    <!-- Endereço -->
      <div class="col-sm-12" formGroupName="endereco">

        <div class="form-row" >
          <div class="form-group">
            <label for="cep" class="control-label">CEP</label>
            <input type="text" class="form-control" id="cep" formControlName="cep" required/>
          </div>
          <!-- Número -->
          <app-input-field id="numero" label="Número" [control]="formulario.get('endereco.numero')"></app-input-field>
          <!-- Complemento -->
          <app-input-field id="complemento" label="Complemento" [control]="formulario.get('endereco.complemento')"></app-input-field>

      </div> <!-- Final da Primeira Row-->

      <!-- Row da Rua -->
      <div class="form-group">
          <label for="rua" class="control-label">Rua</label>
          <input
            type="text"
            class="form-control"
            id="rua"
            formControlName="rua"
          />
      </div>

        <!-- Segunda row de endereço -->
        <div class="form-row">
          <div class="form-group col-md-7">
            <label for="bairro" class="control-label">Bairro</label>
            <input
              type="text"
              class="form-control"
              id="bairro"
              formControlName="bairro"
            />
          </div>

          <div class="form-group col-md-2">
            <label class="control-label" for="estado">Estado</label>
            <select formControlName="estado" class="form-control" id="estado" >
              <option *ngFor="let estado of estados" [value]="estado.sigla">{{estado.nome}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <label class="control-label" for="cidade">Cidade</label>
            <select formControlName="cidade" class="form-control" id="cidade" >
              <option *ngFor="let cidade of cidades" [value]="cidade.nome">{{cidade .nome}}</option>
            </select>
          </div>

        </div> <!-- Final da Segunda Row-->

      </div> 

      <!-- Cargo,Tecnologia e Newsletter -->
      <div class="form-row">
        <div class="form-group col-sm-4">
          <label class="control-label" for="cargo">Cargo</label>
          <select formControlName="cargo" class="form-control" id="cargo" >
            <option [id]="cargo.sigla" *ngFor="let cargo of cargos" [ngValue]="cargo">{{cargo.desc}}</option>
          </select>
        </div>

        <div class="form-group col-sm-4">
          <label class="control-label" for="tecnologia">Tecnologia</label>
          <select multiple formControlName="tecnologia" class="form-control" id="tecnologia" >
            <option [id]="tecnologia.sigla" *ngFor="let tecnologia of tecnologias" [value]="tecnologia.desc">{{tecnologia.nome}}</option>
          </select>
        </div>

        <div class="form-group col-sm-4">
            <label class="control-label" for="newsletter">Newsletter</label>
            <div id="newsletter" class="row">
              <div class="col-sm-4" *ngFor="let option of newsletterOp">
                <label class="radio-inline" >
                  <input id="newsletter" name="newsletter" type="radio" [value]="option.valor" fromControlName="newsletter"/> {{ option.desc }}
                </label>
              </div>
            </div>
          </div>
      </div>

      <!-- Termos e Serviços / Frameworks -->
    <div class="form-row">
      <div class="col-md-6">  
        <div class="form-group">
          <div class="checkbox">
            <label for="checkbox-inline">
              <input class="checkbox-inline" type="checkbox" formControlName="termos"> Aceito os termos
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <label for="frameworks"> Frameworks </label>
          <div id="frameworks" class="row">
            <div formArrayName="frameworks" 
            *ngFor="let item of formulario.get('frameworks').controls; let i=index"  
            class="checkbox col-sm-3" id="frameworks">              
              <input type="checkbox" formControlName="{{i}}"/>{{ frameworks[i] }}
            </div>
          </div>
        </div>
      </div>

      <!-- Botões -->
      <div class="col-sm-6 mt-3">
        <button type="submit" class="btn btn-primary">Send</button>
        <button (click)="resetarForm()"class="btn btn-danger ml-4">Cancelar</button>
        <!-- <button (click)="setaCargo()"class="btn btn-info ml-4">Cargo</button> -->
        <!-- <button (click)="setTecnologias()"class="btn btn-dark ml-4">Tecnologias</button> -->
      </div>

    </div> 
</form>

<app-form-debug [form]="formulario"></app-form-debug>
