<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-exemplo-ng-content>
    <app-operador-elvis></app-operador-elvis>
    Conteúdo passado para o componente
</app-exemplo-ng-content> -->

<!-- <app-exemplo-ng-content>
    <div class="titulo">Div com classe título</div>
    <div class="conteudo">Conteudo com classe Conteudo</div>
    <div class="conteudo">Conteudo com classe Conteudo concatenado</div>
</app-exemplo-ng-content> -->


<app-diretivas-customizadas></app-diretivas-customizadas>
