<section class="two-way-binding">
  <article>
    <h3>Two Way data Binding</h3>
      <input type="text" [value]="nome" (input)="nome = $event.target.value" />
      <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event" />
      <input type="text" [(ngModel)]="nome" />
    <p>Você digitou: {{ nome }}</p>
      <br/>
      <br/>
      <br/>
    <input type="text" [(ngModel)]="pessoa.nome" />
    <input type="text" [(ngModel)]="pessoa.idade" />
    <P>Meu nome é {{pessoa.nome}} e tenho o total de {{pessoa.idade}} anos</P>


  </article>
</section>

